/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// body {
//   font-family: 'Vazir', sans-serif;
//   direction: rtl;
//   text-align: right;
//   background-color: #f9f9f9;
//   margin: 0;
//   padding: 0;
// }
.mat-mdc-tooltip-panel {
  font-family: 'Vazirmatn', sans-serif !important;
}